/* header */
@media (max-width:1290px) {
    .hdr-nav{
        margin-left: 200px;
    }
}
@media (max-width:1100px){
    .hdr-nav{
        margin-left:100px;
    }
}
@media (max-width:1000px){
    .hdr-nav{
        margin-left:50px;
    }
}
@media (max-width:925px) {
    .hdr-nav{
        margin-left: 20px;
    }
    .navli{
        margin-left: 20px;
    }
    .my-milan{
        display: none;
    }
    .hdr-user{
        display: block;
        color: white;
        font-size: 16px;
    }
}
@media (max-width:800px) {
    .hdr-nav{
        display: none;
        margin-left: 0px;
    }
    .hdr-bar{
        display: inline-block;
    }
    .hdr-search{
        display: inline-block;
        margin: 0 15px;
    }
}
@media (max-width:550px) {
    .hdr-container{
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width:340px) {
    .hdr-search,
    .hdr-user{
        display: none;
    }
}
/* index.html responsive */
@media (max-width:1170px){
    .sec1-block{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: rgb(245, 245, 245);
    }
    .devider{
        display: none;
    }
    .matches-bk{
        margin-bottom:10px;
    }
}
@media(max-width:1128px){
    .top-block{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .og-wraper{
        margin-bottom: 60px;
    }
    .sct2-tb,
    .sct3-title{
        padding-left: 15px;
    }
}
@media (max-width:1110px) {
    .sct3-block{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (max-width:1099px) {
    .sct3-wraper:last-child{
        margin-top: 30px;
    }
    
}
@media (max-width:1105px) {
    .bottom-block{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}
@media (max-width:1094px){
    .training-wraper{
        margin-top: 100px;
    }
}
@media (max-width:738px) {
    .sct3-wraper:nth-child(2){
        margin-top: 30px;
    }
}
@media (max-width:735px) {
    .kjaer-wraper{
        margin-bottom: 100px;
    }
    .news-title,
    .news-title2{
        font-size: 16px;
    }
    .news-date{
        font-size: 12px;
    }
    .og-img,
    .baka-img{
        height: auto;
    }
}
@media (max-width:550px) {
    .news-box{
        max-width: 400px;
        width: 100%;
    }
    .news-title{
        font-size: 16px;
        line-height: 1;
    }
}
@media (max-width:525px) {
    .lil-block{
        margin-right: 25px;
    }
    .points2{
        display: none;
    }
}
@media (max-width:450px) {
    .news-box{
        max-width: 350px;
        width: 100%;
    }
    .l-news{
        margin-right: 5px;
    }
}
@media (max-width:420px) {
    .news-box{
        max-width: 320px;
        width: 100%;
    }
}
@media (max-width:376px) {
    .news-box{
        margin-left: 15px;
    }
}
@media (max-width:360px) {
    .news-box2{
        max-width: 300px;
        width: 100%;
        padding: 5px;
    }
    .news-box{
        max-width: 300px;
        width: 100%;
        margin-left: 8px;

    }
}
/* footer */
@media (max-width:766px) {
    .ftr-li{
        font-size: 12px;
    }
    .hashtags{
        font-size: 18px;
    }
    .footer-text{
        font-size: 10px;
    }
}
@media (max-width:633px) {
    .ftr-li{
        font-size: 10px;
    }
    .hashtags{
        display: none;
    }
    .footer-text{
        font-size: 8px;
    }
}
@media (max-width:547px) {
    .footer-text{
        display: none;
    }
}
@media (max-width:376px){
    .news-box{
        transform: translate(1px, -65px);
    }
}